<div style="text-align:center" class="container">
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="movie">Veuillez rentrer le film que vous rechercher : </label>
      <input class="form-control" id="movie" type="text" formControlName="movie">
    </div>
    <button type="submit" [disabled]="!movieForm.valid">Chercher votre film</button>
  </form>

  <h2>Voici la liste des films faisant référence à {{movieForm.value.movie}}</h2>

  <div id="container">
    <ul class="list-movies">
      <div *ngFor="let movie of movies.results" class="movie">
        <li class="item-movie"><span class="text-movie">Titre :</span> {{ movie['title'] }}</li>
        <li class="item-movie"><span class="text-movie">Résumé :</span> {{ movie['overview'] }}</li>
        <li class="item-movie"><span class="text-movie">Langue :</span> {{ movie['original_language'] }}</li>
        <li class="item-movie"><span class="text-movie">Popularité :</span> {{ movie['popularity'] }}</li>
        <li class="item-movie"><img src="https://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" class="image-movie"></li>
        <li class="item-movie"><span class="text-movie">Date de sortie :</span> {{ movie['release_date'] }}</li>
        <li class="item-movie"><span class="text-movie">Moyenne des votes :</span> {{ movie['vote_average'] }}</li>
        <li class="item-movie"><span class="text-movie">Nombre de votes :</span> {{ movie['vote_count'] }}</li>
        <hr>
      </div>
    </ul>
  </div>
</div>
