#container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  max-width: 100%;

  ul.list-movies {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    div.movie {
      margin: 30px;
      li.item-movie {
        padding: 5px;

        span.text-movie {
          font-weight: 900;
          text-decoration: underline;
        }
      }

      hr {
        width: 50%;
      }
    }
  }
}
